/* 2021-09-10 */
/* https://www.github.com/fontfish/ */

/* Global Stuff */

@font-face {
    font-family: Biang;
    src: url(Biang-VF.ttf); /* format('woff2-variations') */
	font-weight: 300 900;
	font-style: normal;
}

body {
	background-color: #dcdcc8;
}

/* Font Stuff */

h1 {
	font-size: 42px;
	font-family: 'Yrsa', serif;
	font-weight: 300;
	padding: 24px;
}

h2 {
	font-size: 28px;
	font-family: 'Yrsa', serif;
	font-weight: 300;
	padding: 24px;
}

.p1 {
	font-size: 20px;
	font-family: 'Yrsa', serif;
	font-weight: 400;
	padding-left: 24px;
	padding-right: 24px;
}

#vfont1 {
	font-size: 50pt;
	font-family: 'Biang', serif;
}

#vfont1 span {
	font-family: 'Yrsa', serif;
}

#vfont2 {
	font-size: 14pt;
	font-family: 'Biang', serif;
}

.biang {
	font-family: 'Biang';
}

.not-biang {
	font-family: 'Yrsa', serif;
}

/* Containers, &c. */

#wrapper {
	background-color: white;
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	min-width: 200px;
}

#header {
	background-color: grey;
}

main {
	background-color: white;
	width: 100%;
}

#vf-test {
	padding: 24px;
}

.slider-box {
	padding-left: 20px;
	padding-left: 20px;
}

#footer {
	background-color: #dcdcc8;
	width: 100%;
}
