<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u30EDD</key>
    <string>u30E_D_D_.glif</string>
    <key>u30EDE</key>
    <string>u30E_D_E_.glif</string>
    <key>uni9762</key>
    <string>uni9762.glif</string>
    <key>uni9EBA</key>
    <string>uni9E_B_A_.glif</string>
    <key>uni9EB5</key>
    <string>uni9E_B_5.glif</string>
  </dict>
</plist>
